.text24 {
	FONT-SIZE: 24px; LINE-HEIGHT: 120%
}
.text24-lh {
	FONT-SIZE: 24px; LINE-HEIGHT: 100%
}
.text24-hh {
	FONT-SIZE: 24px; LINE-HEIGHT: 140%
}
.text18 {
	FONT-SIZE: 18px; LINE-HEIGHT: 120%
}
.text18-lh {
	FONT-SIZE: 18px; LINE-HEIGHT: 100%
}
.text18-hh {
	FONT-SIZE: 18px; LINE-HEIGHT: 140%
}
.text16 {
	FONT-SIZE: 16px; LINE-HEIGHT: 120%
}
.text16-lh {
	FONT-SIZE: 16px; LINE-HEIGHT: 100%
}
.text16-hh {
	FONT-SIZE: 16px; LINE-HEIGHT: 140%
}
.text14 {
	FONT-SIZE: 14px; LINE-HEIGHT: 120%
}
.text14-lh {
	FONT-SIZE: 14px; LINE-HEIGHT: 100%
}
.text14-hh {
	FONT-SIZE: 14px; LINE-HEIGHT: 140%
}
.text12 {
	FONT-SIZE: 12px; LINE-HEIGHT: 120%
}
.text12-lh {
	FONT-SIZE: 12px; LINE-HEIGHT: 100%
}
.text12-hh {
	FONT-SIZE: 12px; LINE-HEIGHT: 140%
}
.text10 {
	FONT-SIZE: 11px; LINE-HEIGHT: 120%
}
.text10-lh {
	FONT-SIZE: 11px; LINE-HEIGHT: 100%
}
.text10-hh {
	FONT-SIZE: 11px; LINE-HEIGHT: 140%
}
A:link {
	COLOR: #2986b1; TEXT-DECORATION: underline
}
A:active {
	TEXT-DECORATION: none
}
