body,tr,td { font-size:14px; line-height:150%; color:#333333; }
.text12 { font-size:12px; }
a:link{ text-decoration:underline; color:#2986B1;}
a:visited{ text-decoration:underline; color:#2986B1;}
