.text24{font-size:24px; line-height:120%;}
.text24-lh{font-size:24px; line-height:100%;}
.text24-hh{font-size:24px; line-height:140%;}

.text18{font-size:18px; line-height:120%;}
.text18-lh{font-size:18px; line-height:100%;}
.text18-hh{font-size:18px; line-height:140%;}

.text16{font-size:16px; line-height:120%;}
.text16-lh{font-size:16px; line-height:100%;}
.text16-hh{font-size:16px; line-height:140%;}

.text14{font-size:14px; line-height:120%;}
.text14-lh{font-size:14px; line-height:100%;}
.text14-hh{font-size:14px; line-height:140%;}

.text12{font-size:12px; line-height:120%;}
.text12-lh{font-size:12px; line-height:100%;}
.text12-hh{font-size:12px; line-height:140%;}


.text10{font-size:11px; line-height:120%;}
.text10-lh{font-size:11px; line-height:100%;}
.text10-hh{font-size:11px; line-height:140%;}

a:link{ text-decoration:underline; color:#2986B1;}
a:visited{ text-decoration:underline; color:#2986B1;}
a:active{ text-decoration:none}