
table {
	display: none;
}

#mainTable, #contentsTable, #subContentsTable {
	display: inline;
}

#mainTableL, #mainTableR {
	display: none;
}

body {
	background-color: white;
}

#title * {
	display: block;
}

#contents * {
	display: block;
}
