/***************************************
* graph.css
* 2014-08-14
***************************************/

table.graph {
    margin: auto;
    width: 90%;
    border: none;
    font-size: 14px;
    font-size: 1.4rem;
    border-bottom: solid 1px #000;;
    border-collapse: separate;
}
table.graph thead {
    color: black;
    background-color: #fff;
    text-align: center;
}
table.graph tbody {
    text-align: center;
    vertical-align: middle;
}

table.graph td {
    height: 20px;
    vertical-align: middle;
}
table.graph td.cell-r{
	border-right: solid 1px #000;
}
table.graph td.cell-l{
	border-left: solid 1px #000;
}
table.graph td.cell-b{
	border-bottom: solid 1px #000;
}

td.cellpoint {
    padding-right: 5px;
    text-align: right;
    border-right: solid 1px #000;
}
td.cellparson-first {
/*    border-bottom: solid 1px #000;
    border-right: solid 1px #000;*/
}
td.cellparson {
    padding-right: 10px;
    text-align: right;
    background-color: lavender;
/*    border-right: solid 1px #000;*/
    border-bottom: solid 1px #fff;
    border-left:0;
}
td.cellparson-last {
    padding-right: 10px;
    text-align: right;
    background-color: lavender;
    border-bottom: 0;
/*    border-right: solid 1px #000;*/
}
td.starcolor {
    background-color: #ffd700;
}
p.cellgraph {
    height: 15px;
    width: 585px;
    text-align: left;
    vertical-align: middle;
    border: none;
    position: relative;
}
td.cellgraph {
    background-image: url(../../shared_lib/img/graph_back.png);
    background-position: left top;
    background-repeat: repeat;
}
td.cell {
    font-size: 11px;
    font-size: 1.1rem;
    text-align: center;
    padding:0;
    width: 30px;
    border: none;
}
td.cell:first-child {
    border-left: solid 1px #000;
}
span.my-position{
	font-size:14px;
	font-size:1.4rem;
}
span.star {
    color: #ffd700;
}
td.color-a {
    font-weight: bold;
    color: #ea5959;
}
td.color-b {
    font-weight: bold;
    color: #f49e00;
}
td.color-c {
    font-weight: bold;
    color: #86b755;
}
td.color-d {
    font-weight: bold;
    color: #00ac71;
}
td.color-bl{
    font-weight:bold;
}

img.absolute-star {
    position: absolute;
    top: -3px;
}


/*----------------------------------------------------
 スマートフォン対応
----------------------------------------------------*/
@media screen and (max-width: 640px) {
    table.graph {
        width: 267px;
        font-size: 10px;
        font-size: 1.0rem;
    }
    td.cellpoint{
        padding-right: 0;
    }
    td.cellparson, td.cellparson-last {
        padding-right: 10px;
    }
    p.cellgraph {
        width: 155px;
    }
    td.cellgraph {
        background-image: url(../../shared_lib/img/graph_back_sp.png);
        border-left: solid 1px #000;
    }
    td.cell {
        width: 7px;
    }
    td.cell-ten {
        width: 18px;
    }
    span.my-position{
	font-size:10px;
	font-size:1rem;
}
}
