/***************************************
j001pc.css
2014/06/12
***************************************/
.submit-btn{
	width:320px;
	padding: 0;
	margin: 40px auto 15px;
}

.chuui{
	border:1px solid #a4b6e8;
	padding:3px 5px;
	font-weight:bold;
	margin-top:5px;
	text-align:center;
	font-size:14px;
	font-size:1.4rem;
}
.chuui img{
	vertical-align:middle;
}


#start-btn{
	margin-bottom: 10px;
}
.text-inner001 {
	padding: 10px;
}

.pickup{
	border: none;
	text-align: center;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 24px;
	line-height: 2.4rem;
}

.line{
	margin-top: 10px;
	border: solid 1px #bbb;
	padding: 10px;
	width:938px;
	background-color: #fff;
}
.ssl ul{
	overflow: hidden;
}
.ssl ul li{
	float: left;
}
.ssl ul li:first-child{
	margin-right: 5px;
}
.ssl ul li.ssl-text{
	font-size: 10px;
	font-size:1rem;
	padding-left: 1em;
	text-indent: -1em;
	line-height: 1.2rem;
	text-align: justify;
	width:160px;
	padding-top: 1px;
}
.ssl:after{
	clear: both;
}

.banner div ul{
	overflow: hidden;
	width: 870px;
	margin: 0 auto;
}
.banner div ul li{
	float: left;
	padding-left: 6px;
}
.banner div ul li:first-child{
	padding-left: 0;
}
.banner div ul:after{
	content:'';
	clear: left;
	margin: 0;
	padding: 0;
}

