/***************************************
j101sp.css
2014/06/05
***************************************/
/* クリアボタン */
.btn input[type=button]{
	float: right;
	margin-right: 10px;
}
.btn input[type=button]:after{
	content: '';
	clear: right;
}

/* 共通テーブル */
.table-sp{
	width: 100%;
}
.table-sp th{
	vertical-align: top;
	padding: 10px 0 10px 26px;
	text-align: left;
	width: 70%;
	font-weight: normal;
}
.table-sp ul{
	padding-left: 0;
	overflow: hidden;
}
.table-sp ul li{
    float: left;
    list-style: none;
    margin-top:5px;
    margin-bottom:5px;
    padding-left:1.6em;
    text-indent:-1.7em;
}
.table-sp ul:after{
    content: '';
    display: block;
    clear: left;
}
.table-sp ul li:nth-child(6){
	clear: left;
}
.table-sp ul li:nth-child(7){
	float: left;
}
.table-sp input[type=radio],.table-sp input[type=checkbox]{
	margin-right: 5px;
}
.table-sp th label{
	margin: 5px 10px 5px 0;
}

.table-sp th.table-sp-title{
	width: 100%;
	text-align: left;
	letter-spacing: 0.3rem;
	font-weight: bold;
	color: #fff;
	border-top: solid 10px #fff;
	background: #7b95d8;
	padding-left: 10px;
}
.table-sp td{
	vertical-align: bottom;
	padding-right: 20px;
}
.table-sp input[type=number]{
	width: 90%;
	margin: 5px 0;
}

.next ul {
list-style: none;
margin: 0;
padding-top: 15px;
font-size: 16px;
font-size: 1.6rem;
}

#sectionSp00{
	margin-bottom: 40px;
}
#sectionSp00 .space {
	margin-top: 40px;
}
#sectionSp00 .btn {
	height: 30px;
	width: 100%;
	margin-left: 0;
	text-align: right;
}
#sectionSp00 p.unknown {
	text-decoration: underline;
	cursor: pointer;
	float: right;
}
.table-cefr-sp {
	margin-top: 10px;
}
.table-cefr-sp th {
	text-align: center;
	letter-spacing: 0.3rem;
	font-weight: bold;
	border-right: #bbb 1px solid;
	color: #fff;
	background: #7b95d8;
	padding: 10px 0;
	vertical-align: middle;
}
.table-cefr-sp td {
	text-align: center;
	vertical-align: middle;
	padding: 0;
	border-bottom: #bbb 1px solid;
	border-right: #bbb 1px solid;
}
.table-cefr-sp td:last-child {
	text-align: center;
	padding: 2px;
	border-bottom: #bbb 1px solid;
	border-right: none;
}

.sp-cefr {
	width: 100%;
}
.sp-cefr td {
	padding-bottom: 15px;
}
.sp-cefr div.title {
	text-align: left;
	letter-spacing: 0.3rem;
	font-weight: bold;
	color: #fff;
	background: #7b95d8;
	padding: 10px;
}

.sp-cefr div.item {
	background: #ffffff;
	padding: 15px;
	border-top: 1px solid #bbb;
}
.sp-cefr div.item label {
	margin-right: 5px;
	display: block;
	float: left;
}

.jpn-writing p {
	margin-left: 15px;
	display: inline;
}

.jpn-writing .radio {
	float: right;
	margin-top: 3px;
	margin-right: 10px;
	margin-left:-10px;
	letter-spacing: -0.5em;
}
.jpn-writing label {
	margin: 15px 1px !important;
	letter-spacing: normal !important;
}
.clear-btn{
	margin: 0;
	padding: 0 5px 5px 0;
	width:100%;
	text-align: right;
}
.clear-btn p{
	line-height: 0;
	margin: 0;
	margin-right: 10px;
	padding: 0;
	display: block;
}
.subject {
	border-top: 5px solid #fff;
}
.Ja0ScoreError {
	float: right;
}