/***************************************
j101pc.css
2014/06/04
***************************************/

.table-pc{
	width: 100%;
	overflow: hidden;
	border-collapse: collapse;
	border-spacing: 0;
}
.table-pc-title{
	width:140px;
}
.table-pc thead th{
	color: #fff;
	letter-spacing: 2px;
	letter-spacing: 0.2rem;
	padding: 5px 0;
	background: #1e50a2;
	border-left: 1px solid #bbb;
}
.table-pc thead th:first-child{
	border-left: 0;
}
.table-pc tbody th{
	color: #fff;
	letter-spacing: 3px;
	letter-spacing: 0.3rem;
	line-height: 14px;
	line-height: 1.4rem;
	background: #7b95d8;
	border-bottom: 1px solid #bbb;
	padding-top: 15px;
	vertical-align: top;
}

.table-pc tbody td{
	vertical-align: middle;
	background: #eaf4fc;
	padding: 0 10px 0;
	padding-bottom: 0;
	border-bottom: 1px solid #bbb;
	line-height: 14px;
	line-height: 1.4rem;
}
.table-pc tbody td.table-pc-subjects{
	padding: 15px 10px 0;
	vertical-align: top;
}
.table-pc tbody td p{
	margin-bottom: 15px;
}
.table-pc tbody td.private{
	background: #f6f6f6;
}
.table-pc tbody td label{
	margin-right: 15px;
	margin-bottom: 15px;
	display: block;
	float: left;
}
.table-pc tbody td label:nth-child(7){
	clear: left;
}
.table-pc tbody td label:nth-child(8){
	float: left;
}
.table-pc tbody td label:after{
	content: '';
	clear: left;
}

.table-pc tbody td label input{
	vertical-align:middle;
	margin: 0;
	padding: 0;
	margin-right: 5px;
}
.table-pc input[type=number]{
	width: 120px;
	height: 18px;
	padding: 0;
	margin: 13px 0;
	border: 1px gray solid;
}
.table-pc input[type=number]:focus{
	outline: none;
	border: 1px solid #4D90FE;
	-webkit-box-shadow: 0px 0px 3px skyblue;
	box-shadow: 0px 0px 3px skyblue;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}
.table-pc tbody td.table-pc-line{
	border-bottom: none;
/*	padding-top: 12px; */
}
/* 英語参加試験 */
#section00{
	margin-bottom: 40px;
}
#section00 .btn {
	width: 100%;
	margin-left: 0;
	text-align: right;
}
#section00 .space {
	margin-top: 40px;
}
#section00 .table-cefr-pc tbody td {
	text-align: center;
	padding: 10px;
	border-left: 1px solid #bbb;
}
#section00 .table-cefr-pc tbody td:last-child {
	text-align: center;
	padding: 2px 0 0 2px;
	border-left: 1px solid #bbb;
}
#section00 .table-input-cefr-pc th:first-child {

}
#section00 .table-input-cefr-pc td {
	padding-top: 15px;
	border-top: none;
}
#section00 .table-input-cefr-pc tbody td label:nth-child(7){
	clear: none;
}
#section00 p.unknown {
	text-decoration: underline;
	cursor: pointer;
}
#pc-cefr-score01, #pc-cefr-score02 {
	margin: 0 0 13px 0;
}
/* 英語参加試験 */

/* 国語記述式 */
.pc-jpn-writing {
	width: 100%;
}
.pc-jpn-writing tr:first-child td:first-child {
	width: 32%;
	vertical-align: top;
	border: none;
	margin: 0;
	padding: 10px;
}
.pc-jpn-writing td.evaluation {
	width: 68%;
	border-left: 1px solid #bbb;
	margin: 0;
	padding: 10px;
}
.pc-jpn-writing td.evaluation p {
	float: left;
	margin: 0;
}
.pc-jpn-writing td.evaluation div {
	float: right;
}
.pc-jpn-writing td.evaluation div label {
	margin: 0 15px 0 0;
}
.Ja0ScoreError {
	color: red;
	margin-top: 12px;
}
/* 国語記述式 */


#section01 .btn,#section02 .btn{/* Section01（全統マーク）・Section02(全統記述) */
	margin-left: 800px;
}
/* Section03（ボタン） */
#section03 .btn{
	width: 100%;
	margin: 20px 0;
}
#section03 .btn input[type=button]{
	color: #666;
	margin-left: 10px;
}
#section03 .btn input[type=button]:first-child{
	margin-left: 0;
}
/*#section03 .btn input[type=button]:disabled{
	color: #fff;
	background: #ccc;
} */
#section02,#section03{
	margin-top: 30px;
}

.text-inner101 {
padding: 10px 10px 20px 10px;
}

.clear-btn{
	margin: 0;
	padding: 0;
}
.clear-btn p{
	line-height: 0;
	margin: 0;
	padding: 0;
}
#clear-btn01,#clear-btn02{
	margin-bottom: 5px;
}

strong{
	color: #ff0000;
}
