
	DIV.error {
		font-weight: bold;
		font-size: 11px;
		line-height: 120%;
		color: #F33;
		margin: 2px 0px 0px 0px;
		position:absolute;
		visibility:hidden;
		top:0px;
		left:0px
	}

	SPAN.alert {
		color: #FF6E0E;
	}

	SPAN.gray {
		color: #999;
	}

	TH.course {
		padding: 4px;
		width: 158px;
		background-color: #CDD7DD;
	}

	TD.course {
		padding: 4px 0px 4px 8px;
		width: 158px;
		background-color: #E1E6EB;
	}

	TH.subject {
		padding: 4px;
		width: 167px;
		background-color: #CDD7DD;
	}

	TD.subject {
		padding: 4px 0px 4px 8px;
		width: 167px;
		background-color: #F4E5D6;
	}

	TD.subject2 {
		padding: 4px 0px 4px 8px;
		width: 167px;
		background-color: #FFAD8C;
	}

	TH.score {
		padding: 4px;
		width: 168px;
		background-color: #CDD7DD;
	}

	TD.score {
		padding: 4px 0px 4px 8px;
		width: 168px;
		background-color: #F4E5D6;
	}

	TD.score2 {
		padding: 4px 0px 4px 8px;
		width: 168px;
		background-color: #FFAD8C;
	}

	TD.white {
		background-color: #E1E6EB;
	}

	TD.bar {
		background-color: #8CA9BB;
	}
