/***************************************
j202.css
2014/06/06
***************************************/
.list01{
	width: 100%;
	background: #dce6f1;
}
.list01 ul{
	overflow: hidden;
	padding: 10px;
}
.list01 ul li{
	width: 32%;
	float: left;
}
.list01 ul li:last-child{
	width: auto;
}
.list01 ul:after{
	content: '';
	clear: left;
	display: block;
}
.list01 input[type=checkbox]{
	margin-right: 5px;
}

.table-pc{
	width:100%;
}
.table-pc th{
	text-align: left;
	vertical-align: top;
	padding: 10px;
	background: #b8cce4;
	width: 200px;
	border-bottom: #fff 1px solid ;
}
.table-pc td{
	background: #dce6f1;
	border-bottom: #fff 1px solid ;
	padding: 10px 5px;
}
.table-pc td ul li{
	padding: 0 5px;
	float: left;
}
.table-pc td ul:after{
	content: '';
	clear: left;
	display: block;
}
.table-pc input[type=checkbox]{
	display: inline;
	vertical-align: middle;
	margin-right: 5px;
}
