/***************************************
j203sp.css
2014/06/10
***************************************/
.initial{
	display: none;
}
.search-container{
	background: transparent;
}
.search-form{
	width: 100%;
	margin: 0;
	background: #dce6f1;
	border-right: 0;
}
.search-form-inner{
	margin: 0;
	width: 100%;
}
#searchBox{
	width:90%;
	margin: 5%;
}
#searchBox input[type=search]{
	width: 98%;
	padding: 0 1%
}
.search-btn{
	width: 270px;
	margin: 0 auto;
}
.search-btn-container{
	background: #fff;
	padding-top: 10px;
	padding-bottom: 30px;
	width: 100%;
}
.container {
	min-height: calc(100vh - 350px);
}
footer {
	display: table;
	width: 100%;
	height: 120px;
}
