/***************************************
j203bpc.css
2014/06/16
***************************************/
span.search-name{
	display: block;
	width: 90%;
}
.text-inner203b strong{
	font-size: 21px;
	font-size: 2.1rem;
}

.text-inner203b{
	padding: 10px;
}

.text-inner203b p{
	text-align: right;
}
.next ul{
	padding:0 10px;
}
.next ul li{
	border-bottom: solid 1px #bbb;
}
.next ul li:first-child{
	border-top: solid 1px #bbb;
}
.next ul li a{
	padding: 10px 0;
	background-color: #fff;
}

@media(max-width:640px){
	.text-inner203b strong{font-size: 2.4rem;}
}