/***************************************
j204sp.css
2014/06/12
***************************************/
.container{
	min-height: calc(100vh - 350px);
}
.title02{ margin-top: 0;}
table.mytable{ font-size: 14px; font-size: 1.4rem; width:96%; margin: 0 auto;}
table.mytable .right-line{ text-align: center; padding-right: 0; border-right:solid 1px #bbb;}
table.mytable .mytable-title{ width:70%;}
.mytable-sp{ display: none;}
table.mytable tr.selected td{ background: #fff;}

.text-inner204 { padding: 10px;}
.link-width{ width:auto;}