/***************************************
j205pc.css
2014/06/16
***************************************/
.br{
	display: none;
}

hr{
	border: 0;
	height: 1px;
	background: #ababab;
	margin-top: 0;
}
#section01 hr.full{
	/* 2015/09/18 CCCx¨ mod start */
	 margin-top: 10px;
	/* 2015/09/18 CCCx¨ mod end */
}
#section02 hr.full{
	/* 2015/09/18 CCCx¨ add start */
	 margin-top: 10px;
	/* 2015/09/18 CCCx¨ add end */
}
.point{
	font-weight: bold;
	font-size: 15px;
	font-size: 1.5rem;
	color:#5679d9;
	background: url(../../shared_lib/img/pencil2.png) left center no-repeat;
	padding: 3px 0 1px 20px;
}
.text-19{
	font-size: 19px;
	font-size: 1.9rem;
}
.text-16{
	font-size: 16px;
	font-size: 1.6rem;
}

table.section-table{
	width: 100%;
	border: solid 1px #7b95d8;
	font-size: 14px;
	font-size: 1.4rem;
	/* 2015/09/11 CCCx¨ del start
	border-collapse: separate;
	   2015/09/11 CCCx¨ del end */
}
table.section-table thead{
	background: #7b95d8;
	color: #fff;
}
table.section-table tbody{
	text-align: center;
}

table.section-table th,table.section-table td{
	vertical-align: middle;
	padding:2px 0;
}
table.section-table th:first-child,table.section-table td:first-child{
	border-left: 0;
}
table.section-table th{
	/*width: 14%;*/
	border-left: solid 1px #fff;
	border-bottom: solid 1px #7b95d8;
}
table.section-table th.full{
	border-left: solid 1px #fff;
	border-bottom: solid 1px #fff;
}
table.section-table td{
	border-left: solid 1px #7b95d8;
	border-bottom: solid 1px #fff;
}
table.section-table td.full01{
	/*border-left: solid 1px #7b95d8;*/
	border-bottom: solid 1px #fff;
	font-weight: bold;
	/* 2015/11/16 CCCx¨ add start */
	text-align:center;
	/* 2015/11/16 CCCx¨ add end */
}
table.section-table td.full02{
	border-bottom: solid 1px #7b95d8;
	font-weight: bold;
}
table.section-table td.full{
	border-left: double 4px #7b95d8;
}
table.section-table td.full2{
	border-left: solid 1px #7b95d8;
	border-bottom: solid 1px #7b95d8;
}
table.section-table td.full3{
	border-left: solid 1px #7b95d8;
	/* 2015/09/11 CCCx¨ add start */
	border-bottom: solid 1px #7b95d8;
	/* 2015/09/11 CCCx¨ add end */
}
/* N{^ */
.link-btn{
	margin: 0;
	padding: 0;
}
.link-btn p{
	line-height: 0;
	margin: 0;
	padding: 0;
}
.link-btn input[type=button]{
	margin-left: 10px;
}
#j205-btn01,#j205-btn02{
	margin-bottom: 5px;
}
.link-btn input[type=button]:first-child{
	margin-left: 640px;
}

/* 2Jzu */
.section-container{
	overflow: hidden;
	margin-bottom: 15px;
}
#section01{
	float: left;
	position: relative;
}
#section03{
	margin-top: 15px;
}
#notCovered{
	position: absolute;
		top: 0;
		left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#77000000,EndColorStr=#77000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#77000000,EndColorStr=#77000000)";
}
#notCovered:not(:target){
	filter: none;
	-ms-filter: none;
}
#notCovered p{
	color: #fff;
	font-size: 60px;
	font-size: 6rem;
	text-align:center;
	letter-spacing: 0.8rem;
	padding-top: 25%;
}
#section02,#section03{
	float: right;
}
#section01,#section02,#section03{
	width: 49%;
}
#section01,#section02,#section03,#distribution{
	border: solid 1px #80a8d1;
}
.section-container:after{
	content: '';
	clear: both;
	display: block;
}
.section-title{
	color: #fff;
	background: #80a8d1;
	font-size: 18px;
	font-size: 1.8rem;
	padding: 8px 10px;
	display: block;
}

/* Npl */
.section-inner{
	display:table;
	width: 100%;
	height: 100px;
}
.panel{
	width:100px;
	color: #fff;
	margin: 0;
	padding: 0;
}
.myscore{
	padding-left: 15px;
}
.panel,.myscore{
	display:table-cell;
	vertical-align: middle;
}

 /* N(Z^[¾_^2EÂÊÎ·l) */
.rank-marks,.deviation-marks{/* NF_\¦ */
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding: 0 3em;

}
.rank-marks li,.deviation-marks li{
	float: left;
	text-align: center;
	width: 25%;
	font-size: 12px;
	font-size: 1.2rem;
}
.rank-meter,.deviation-meter{/* NFAt@xbg\¦ */
	list-style: none;
	width: 100%;
	display: table;
	margin: 0;
	padding: 0;
}
.rank-meter li,.deviation-meter li{
	text-align: center;
	margin: 0;
	padding: 0;
	display: table-cell;
	border-left: solid 2px #fff;
	width:20%;
	color: #fff;
	font-weight: bold;
}
.rank-meter li:first-child,.deviation-meter li:first-child{
	border:left: 0;
}
.rank-meter-a,.deviation-meter-a{/* A */
	background: #ea5959;
}
.rank-meter-b,.deviation-meter-b{/* B */
	background: #f49e00;
}
.rank-meter-c,.deviation-meter-c{/* C */
	background: #86b755;
}
.rank-meter-d,.deviation-meter-d{/* D */
	background: #00ac71;
}
.rank-meter-e,.deviation-meter-e{/* E */
	background: #579dd6;
}
.myrank,.mydeviation{/* NF©ªÌ]¿ */
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.myrank li,.mydeviation li{/* NF}[NÝè */
	text-align: center;
	width: 20%;
	float: left;
	padding: 10px 0;
	margin: 0;
	font-size: 25px;
	font-size: 2.5rem;
	visibility: hidden;
	line-height: 25px;
	line-height: 2.5rem;
}
.myrank li#myRankCurrent,.mydeviation li#myDeviationCurrent{/* NF\¦Ýè */
	color: #ffd700;
	visibility: visible;
}

.clear{
	clear: both;
	}

.total-indent01{
	padding-left: 10px;
}

.total-indent02{
	padding-left: 1.2em;
	padding-right: 1em;
}
.total-indent03{
	padding-left: 1.2em;
}
.notes{
	font-size: 11px;
	font-size: 1.1rem;
}
.notes .small{
	font-size: 10px;
	font-size: 1rem;
	margin-left: 10px;
	display: table;
}
.notes .kome,.notes .indent{
	display: table-cell;
}

.text-hidden{
	visibility: hidden;
}
.non-display{
	display: none;
}
.bunpu{
}
.bunpu a{
	margin: 0 auto;
	display: block;
	width: 140px;
	height: 30px;
	text-decoration: none;
	background: url(../../shared_lib/img/bunpu.png) no-repeat transparent;
}
.bunpu a:hover,.bunpu a:active{
	background-image: url(../../shared_lib/img/bunpu_h.png);
}
.bairitsu-indent{
	padding-left:1.4em;
}
.senbatsu-indent{
	padding-left:1.5em;
}
/* 2016.10.14 CCC.KASAI ADD START */
span.exclamation1{
	background-color: #ea5959;
	color: white;
}
span.exclamation2{
	background-color: #f49e00;
	color: white;
}
span.comment{
	text-decoration: underline;
}
/* 2016.10.14 CCC.KASAI ADD END */
