@charset "Shift-JIS";
/***************************************
j205sp.css
2014/06/16
***************************************/
.br{display: inline;}
.link-btn{
	overflow: hidden;
}
.link-btn input[type=button]{
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
}
.link-btn:after{
	content: '';
	clear: right;
}
.section-container{
	margin-bottom: 0;
}
.section-inner{
	overflow: visible;
	padding: 0;
}
/* リンクボタン */
.link-btn01{
	overflow: hidden;
	aligin: right;
	margin: 0;
	padding: 0;
}
.link-btn01 p{
	line-height: 0;
	margin: 0;
	padding: 0;
}
.link-btn01 input[type=button]{

}
#j205-btn01-sp{
	margin-bottom: 5px;
	margin-right: 0px;
}
#j205-btn02-sp{
	margin-bottom: 5px;
	margin-right: 0px;
}
.link-btn01 input[type=button]:first-child{

}
#section01,#section02,#section03,#distribution{
	float: none;
	width: 100%;
	border: 0;
	padding-bottom: 20px;
}

.footer{
	margin-bottom: 10px;
}
.notes{
	font-size: 1.3rem;
}
.notes .small{
	font-size: 1.2rem;
}
.bairitsu-indent{
	padding-left:0;
}
.senbatsu-indent{
	padding-left:1.4em;
}
.bunpu a{
	background-image: url(../../shared_lib/img/bunpu_x2.png);
	background-size: contain;
}
.bunpu a:hover,.bunpu a:active{
	background-image: url(../../shared_lib/img/bunpu_h_x2.png);
	background-size: contain;
}
.rank-marks,.deviation-marks{padding: 0 3.6em;}/* ランク：点数表示 */

@media screen and (max-width: 540px) {.rank-marks,.deviation-marks{padding: 0 2.3em;}}
@media screen and (max-width: 320px) {.rank-marks,.deviation-marks{padding: 0 1.8em;}}
footer {
	height: 90px;
}

.graph-bar {
	max-width: 105%;
}