@charset "Shift-JIS";
/***************************************
j206sp.css
2014/06/17
***************************************/
.section{
	border: none;
}

.footer{
	margin-bottom: 10px;
}

.notes{
	font-size: 1.3rem;
}
footer {
	height: 90px;
}
.container {
	min-height: calc(100vh - 292px);
}