/***************************************
sp.css
2014/05/27
***************************************/
/* SP表示切替
***************************************/
.cl-pc{ display: none;}
.cl-sp{ display: block;}
.cl-sp1{ display: inline;}
/* Element
***************************************/
body{
	background: none;
}
img {/* 画像可変 */
	max-width: 100%;
/*	height: auto;*/
	margin: 0;
	padding: 0;
}
/* Formparts */
input[type="checkbox"], input[type="radio"]{
	margin: auto 10px;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}
/* Submit Button */
.submit-btn{
	width: 80%;
	margin: 0 10%;
	padding:0;
}
.back-btn{
	width:30%;
}
.btn input[type=submit]:active{
    background: -moz-linear-gradient(top, #fff, #ff7b0d 1%, #ff7b0d 50%, #ffaf4b 99%, #ccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.01, #ff7b0d), color-stop(0.5, #ff7b0d), color-stop(0.99, #ffaf4b), to(#ccc));
}
.btn input[type=reset]:active{
    background: -moz-linear-gradient(top, #fff, #e1e1e1 1%, #e1e1e1 50%, #cfcfcf 99%, #ccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.01, #e1e1e1), color-stop(0.5, #e1e1e1), color-stop(0.99, #cfcfcf), to(#ccc));
    }


/* Header
***************************************/
.header{ min-width: 100%;}
.header-logo{ height: 20px; max-width: 100%; min-width: 100%; padding-top:0; padding-bottom: 5px; text-align: right;}
.header-logo h1,.header-logo p{ float:none;}
.header-logo h1 a img{ width: 72px; height: 18px; margin-right: 5px;}
.header-logo p a img{ width: 68px; height: 16px; margin-right: 10px; padding-top:5px;}
.header-line{ min-width: 100%;}
.header-line-inner{ width: 98%;}
.header-title{ letter-spacing: 1px; letter-spacing: 0.1rem;}
.help{ margin-right: 10px;}
.help a{ margin-top: 1px; background-image:url(../../shared_lib/img/help_btn_x2.png); background-size: contain;}
.help a:hover,.help a:active{ background-image:url(../../shared_lib/img/help_h_btn_x2.png); background-size: contain;}
@media(max-width:320px){
	.help{
		margin-right: 5px;
		width: 50px;
	}
	.help a{
		margin-top: 10px;
		background-image:url(../../shared_lib/img/help_btn_x2.png);
		background-size: 50px;
	}
}

/* Footer
***************************************/
footer {
	height: 182px;
}
.footer{
	margin-top: 20px;
	margin-bottom: 65px;
	background: #fff;
}
.footer-line{ min-width: 100%; height: 15px;}
.footer-bottom{
	margin-bottom: 5px;
}
.pagetop{
	width: auto;
	background-color: #fff;
}
.pagetop a{
	background-image:url(../../shared_lib/img/pagetop_btn_x2.png);
	background-size: contain;
	color: #1e50a2;
	font-size: 10px;
	font-size: 1rem;
	margin-right: 10px;
}
.pagetop a:hover,.pagetop a:active{
	background-image:url(../../shared_lib/img/pagetop_h_btn_x2.png);
	background-size: contain;
}
.footer ul{
	width:208px;
	margin-bottom: 5px;
}
.footer ul li{
	font-size: 1.2rem;
	padding: 0 5px;
}
.footer ul li:first-child{
	padding-right: 8px;
}
.copyright{
	color: #666;
	text-align: center;
	width: 100%;
	padding: 0 0 5px;
}
.footer-logo{
	float:none;
	display: block;
	margin: 0 auto;
	max-width: 40%;
	padding:0 0 0;
}
.footer-logo img{
	display: inline;
	max-width: 50%;
}
.footer-container{
	width:100%;
	padding:0 0 0;
}
/* Contents
***************************************/
.container{
	padding: 0;
	max-width: 100%;
	min-width: 100%;
}
.contents{
	width: 100%;
}
.contents-inner{
	padding: 0 0 15px;
	font-size: 1.6rem;
}
.contents-inner01{
	padding: 0 0 35px;
	font-size: 2.35rem;
}
.title01{
	margin: 0;
	padding: 10px 10px;
	font-size: 2rem;
	border-top-width: 1px;
}
.title02{
	margin-top: 10px;
	padding: 10px 5px;
}
.text-inner{
	padding: 10px;
}
.next ul li a{
	background-position: 96% center;

}
/* accordion
***************************************/
.accordion { width:100%;}
.accordion input{ float: left; clear: left; position: relative; top: 1.6rem; left: 0.5rem;}
.accordion span { display:block; padding:12px 0; background-position: 98% center; background-repeat:no-repeat;}
/*.accordion .arrow { background-image:url(../../shared_lib/img/arrow_open.png);}
.accordion .open { background-image:url(../../shared_lib/img/arrow_close.png);}*/
.accordion .plus01 { background-image:url(../../shared_lib/img/plus_icon01.png);}
.accordion .plus02 { background-image:url(../../shared_lib/img/plus_icon02.png);}
.accordion .minus01 { background-image:url(../../shared_lib/img/minus_icon01.png);}
.accordion .minus02 { background-image:url(../../shared_lib/img/minus_icon02.png);}
/*.accordion .arrow:after { content: '+'; display: block; float: right; clear: right; font-weight: bolder; font-size: 2rem; margin-right: 10px;}
.accordion .open:after { content: '-'; font-size: 2.4rem; margin-right: 13px;}*/
.accordion ul { display:none;}
.accordion > li { background: -moz-linear-gradient(top, #7995d1, #5679d9); background: -webkit-gradient(linear, left top, left bottom, from(#7995d1), to(#5679d9));}
.accordion > li > p { font-size: 1.8rem; padding:0 10px; color: #fff; font-weight:bold; background-color: #5679d9; background: -moz-linear-gradient(top, #7995d1, #5679d9); background: -webkit-gradient(linear, left top, left bottom, from(#7995d1), to(#5679d9));cursor:pointer;}
.accordion > li > ul > li { background:#dce6f1; border-bottom:1px solid #EEE;}
.accordion > li > ul > li:last-child{ border:none;}
.accordion > li > ul > li > p { background:#dce6f1; padding: 0 10px 0 0;}
.accordion > li > ul > li > p > span{ margin-left:2.4em;}
.accordion > li > ul > li > ul > li { background:#FFF; border-bottom:1px dotted #bbb; padding-left: 20px;}
.accordion > li > ul > li > ul > li span { margin-left:2.2em;}
.accordion > li > ul > li > ul > li:first-child{ border-top:1px dotted #bbb;}

.accordion .control input{ float: none; position: static;}

.accordion br{ display: none;}
@media(max-width:310px){
	.accordion br{display: block;}
}
/* g-nav
***************************************/
.g-nav-sp{ overflow: hidden;}
.g-nav-sp ul{
	display: table;
	background: #a9a9a9;
	width: 100%;
	position: fixed !important;
	bottom: 0;
	left: 0;
	border-top: solid 1px #666;
}
.g-nav-sp ul li{
	border-right: solid 1px #666;
	line-height: 1.8rem;
}
.g-nav-sp ul li:last-child{
	border-right: 0;
}
.g-nav-sp ul li,.g-nav-sp ul li a{
	width: 33.3%;
	height: 60px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	color: #fff;
	font-size: 1.8rem;
	letter-spacing: 2px;
	letter-spacing: 0.2rem;
	text-decoration: none;
}
.g-nav-sp ul li a:active{
	background: #1e50a2;
}
.g-nav-sp ul li a:hover{
	background: #1e50a2;
}


