/* Button */
/*.submit-btn{
	width: 30%;
	padding:0 35%;
}
.close-btn{
	width:100px;
	margin:0 auto;
	margin-top: 10px;
}
.back-btn{
	margin: 20px 0 0 5px;
}*/


/* ¤Ê
*******************************************/
#hantei-btn{
	background-image:url(../../shared_lib/img/hantei_btn_x2.png);
	background-size: contain;
}
#hantei-btn:hover,#hantei-btn:active{
	background-image:url(../../shared_lib/img/hantei_h_btn_x2.png);
	background-size: contain;
}
.hantei-btn{
	background-image:url(../../shared_lib/img/hantei_btn.png);
	border:0px;
	width:300px;
	height:50px;
}
.hantei-btn:hover{
	background-image:url(../../shared_lib/img/hantei_h_btn.png);
	background-size: contain;
}
#back-btn{
	background-image:url(../../shared_lib/img/back_btn_x2.png);
	background-size: contain;
}
#back-btn:hover{
	background-image:url(../../shared_lib/img/back_h_btn_x2.png);
	background-size: contain;
}
#close-btn{
	background-image:url(../../shared_lib/img/close_btn_x2.png);
	background-size: contain;
}

/* j101
*******************************************/
#clear-btn03,#clear-btn04,#clear-btn05{
	background-image:url(../../shared_lib/img/clear_btn_x2.png);
	background-size: contain;
}
#clear-btn03:hover,#clear-btn04:hover,#clear-btn05:hover{
	background-image:url(../../shared_lib/img/clear_h_btn_x2.png);
	background-size: contain;
}
.help_edit {
	background:url(../../shared_lib/img/help_edit_x2.png);
	background-size: contain;
}
.help_edit:hover {
	background:url(../../shared_lib/img/help_edit_h_x2.png);
	background-size: contain;
}
/* pêFè± */
.clear-cefr {
}
.sp-input-cefr {
	background: url(../../shared_lib/img/sp_cefr_input_btn.png) no-repeat transparent;
	border: 0px;
	width: 50px;
	height: 50px;
	vertical-align: middle;
}
.sp-input-cefr:hover {
	background: url(../../shared_lib/img/sp_cefr_input_btn_h.png) no-repeat transparent;
}
.sp-update-cefr {
	background: url(../../shared_lib/img/sp_cefr_update_btn.png) no-repeat transparent;
	border: 0px;
	width: 50px;
	height: 50px;
	vertical-align: middle;
}
.sp-update-cefr:hover {
	background: url(../../shared_lib/img/sp_cefr_update_btn_h.png) no-repeat transparent;
}
.sp-cancel-cefr {
	background: url(../../shared_lib/img/sp_cefr_cancel_btn.png) no-repeat transparent;
	border: 0px;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	display: none;
}
.sp-cancel-cefr:hover {
	background: url(../../shared_lib/img/sp_cefr_cancel_btn_h.png) no-repeat transparent;
}
.apply-cefr {
	margin-right: 10px;
}
/* pêFè± */

/* j202
*******************************************/
#j202-clear-btn{
	background-image:url(../../shared_lib/img/clear2_btn_x2.png);
	background-size: contain;
}
#j202-clear-btn:hover{
	background-image:url(../../shared_lib/img/clear2_h_btn_x2.png);
	background-size: contain;
}
/* j203
*******************************************/
#search-btn{
	background-image:url(../../shared_lib/img/search_btn_x2.png);
	background-size: contain;
	width: 100%;

}
#search-btn:hover{
	background-image:url(../../shared_lib/img/search_h_btn_x2.png);
	background-size: contain;
}

/* j205
*******************************************/
/* 2015/09/07 CCCx¨ mod start */
#j205-btn01-sp{
	background-image:url(../../shared_lib/img/j205_btn01_x2.png);
	background-size: contain;
}
#j205-btn01-sp:hover{
	background-image:url(../../shared_lib/img/j205_btn01_hover_x2.png);
	background-size: contain;

}
#j205-btn02-sp{
	background-image:url(../../shared_lib/img/j205_btn02_x2.png);
	background-size: contain;
}
#j205-btn02-sp:hover{
	background-image:url(../../shared_lib/img/j205_btn02_x2_hover.png);
	background-size: contain;

}
/* 2015/09/07 CCCx¨ mod end */