/***************************************
j001pc.css
2014/06/12
***************************************/
.submit-btn{
	width:320px;
	padding: 0;
	margin: 40px auto 20px;
}

.text-inner001 {
padding: 10px;
}

.pickup{
	border: none;
	text-align: center;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 24px;
	line-height: 2.4rem;
}

.line{
	margin-top: 10px;
	border: solid 1px #bbb;
	padding: 10px;
	width:938px;
}
.user-guide h4{
	background: #dce6f1;
	border-left: 3px solid #7b95d8;
	margin-bottom: 10px;
	padding: 3px 0 3px 7px;
	font-size: 14px;
	font-size: 1.4rem;
}

.container {
	min-height: calc(100vh - 294px);
}