/***************************************
j202pc.css
2014/06/06
***************************************/

/* list-pc01 iwZæªj */
.list-pc01{
	width: 100%;
	border-bottom: solid 1px #bbb;
	line-height: 14px;
	line-height: 1.4rem;
}
.list-pc01 ul{
	overflow: hidden;
	padding: 15px 10px 0;
}
.list-pc01 ul li{
	padding: 0 0 15px;
	width: 32%;
	float: left;
}
.list-pc01 ul li:last-child{
	width: auto;
}
.listpc01 ul:after{
	content: '';
	clear: left;
	display: block;
}
.list-pc01 input[type=checkbox]{
	margin-right: 5px;
}

/* list-pc02 i]¿ÍÍEÎÛOj */
.list-pc02{
	line-height: 14px;
	line-height: 1.4rem;
	width: 100%;
	border-bottom: solid 1px #bbb;
}
.list-pc02 ul{
	overflow: hidden;
}
.list-pc02 ul li{
	padding: 15px 10px;
	float: left;
}
.listpc02 ul:after{
	content: '';
	clear: left;
	display: block;
}
.list-pc02 input[type=checkbox],.list-pc02 input[type=radio]{
	margin-right: 5px;
	vertical-align: middle;
}

/* table-pc */
.table-pc{
	width:100%;
	line-height: 14px;
	line-height: 1.4rem;
}
.table-pc small{
	padding-left: 19px;
}
.table-pc th{
	text-align: left;
	vertical-align: top;
	padding: 15px 10px;
/*	padding-top: 15px; */
	background: #eaf4fc;
	width: 200px;
	border-bottom: #bbb 1px solid ;
}
.table-pc td{
	border-bottom: #bbb 1px solid ;
	padding: 15px 10px 0;
	vertical-align: top;
}
.table-pc td ul li{
/*	padding: 3px 10px 2px 5px; */
	margin-right: 10px;
	margin-bottom: 15px;
	float: left;
}
.table-pc td ul:after{
	content: '';
	clear: left;
	display: block;
}
.table-pc input[type=checkbox]{
	vertical-align: middle;
	margin:0;
	margin-right: 5px;
}
.btn{
	padding: 0 160px;
	margin-top: 10px;
}
.btn input[type=submit],.btn input[type=button]{
	width: 300px;
}

.btn input[type=button]{
	margin-left: 15px
}

.contents-inner202 {
padding: 10px 10px 0px 10px;
}

.text-inner202 {
padding: 20px 10px 10px 10px;
}

/* ÈºíÚ */
/* PCp`FbN{bNX
***************************************/
input[type="checkbox"] {
	border: 1px solid #aaaaaa;
	-webkit-appearance: none;
	position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 13px;
	height: 13px;
	/*Other Browser*/
	background: #cfcfcf;
	/*For Old WebKit*/
	background: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0.00, #fcfcfc),
		color-stop(1.00, #cfcfcf)
	);
	/*For Modern Browser*/
	background: linear-gradient(
		to bottom,
		#fcfcfc 0%,
		#cfcfcf 100%
	);
}


input[type="checkbox"]:checked:before {
	position: absolute;
	left: 1px;
	top: 7px;
	display: block;
	content: "";
	width: 4px;
	height: 2px;
	background: #333;
	-webkit-transform: rotate(45deg);
	-webkit-transform-origin: right center;
	transform: rotate(45deg);
	transform-origin: right center;
}

input[type="checkbox"]:checked:after {
	display: block;
	position: absolute;
	left: 4px;
	top: 7px;
	content: "";
	width: 8px;
	height: 2px;
	background: #333;
	-webkit-transform: rotate(-50deg);
	-webkit-transform-origin: left center;
	transform: rotate(-50deg);
	transform-origin: left center;
}

input[type="checkbox"]:checked {
	/*Other Browser*/
	background: #cfcfcf;
	/*For Old WebKit*/
	background: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0.00, #fcfcfc),
		color-stop(1.00, #cfcfcf)
	);
	/*For Modern Browser*/
	background: linear-gradient(
		to bottom,
		#fcfcfc 0%,
		#cfcfcf 100%
	);
	border: 1px solid #999999;
}