/***************************************
j202sp.css
2014/06/09
***************************************/
small{
	font-size: 1.2rem;
	padding-left: 6px;
}
.btn{
	width:300px;
	margin: 0 auto;
	padding: 0;
}
.btn input[type=submit]{
	margin-top: 7px;
	margin-bottom: 10px;
}

.btn input[type=button]{
	margin-left: 0px;
}
.accordion input{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
}
.accordion ul li span.list-sp02 label.indent{
	padding-left:2.2em;
	text-indent:-2.2em;
}
.accordion span.space:before{
	content:"";
	margin-left:3px;
}
/* list-sp01 （学校区分） */
.title02{
	padding: 10px;
}
.list-sp01{
	width: 100%;
}
.list-sp01 ul li{
	background: #dce6f1;
	padding: 10px 5px;
	border-bottom: #fff 1px solid;
	padding-left: 34px;
	text-indent: -34px;
}

.list-sp01 ul li label{
	display:block;
	width:100%;
	margin-left: 4px;
}
.list-sp01 ul li label input{
	vertical-align: middle;
	margin-right: 0;
}

.accordion ul li span.list-sp02{
	overflow: hidden;
	padding: 10px 5px;
}
.accordion ul li span.list-sp02 label{
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

.accordion ul li span.list-sp02 label:after{
	content: '';
	clear: left;
	margin-right: 10px;
}
.accordion ul li span.list-sp02 label.indent{
	padding-left:2.2em;
	text-indent:-2.2em;
}
.accordion ul li span.list-sp02 label input{
	vertical-align: middle;
}

.contents-inner{
	padding-bottom: 8px;
}

.contents-inner202 {
padding: 0px 10px 10px 10px;
}

.text-inner202 {
padding: 10px 10px 0px 10px;
}

.contents-inner202a {
padding: 0 0 0px;
font-size: 1.6rem;
}

/* チェックボックス
***************************************/
input[type="checkbox"] {
	margin-left: 8px;
	border: 1px solid #aaaaaa;
	-webkit-appearance: none;
	position: relative;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	width: 16px;
	height: 16px;
	/*Other Browser*/
	background: #cfcfcf;
	/*For Old WebKit*/
	background: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0.00, #fcfcfc),
		color-stop(1.00, #cfcfcf)
	);
	/*For Modern Browser*/
	background: linear-gradient(
		to bottom,
		#fcfcfc 0%,
		#cfcfcf 100%
	);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}


input[type="checkbox"]:checked:before {
	position: absolute;
	left: 0px;
	top: 10px;
	display: block;
	content: "";
	width: 6px;
	height: 3px;
	background: #333;
	-webkit-transform: rotate(45deg);
	-webkit-transform-origin: right center;
}

input[type="checkbox"]:checked:after {
	display: block;
	position: absolute;
	left: 4px;
	top: 10px;
	content: "";
	width: 12px;
	height: 3px;
	background: #333;
	-webkit-transform: rotate(-50deg);
	-webkit-transform-origin: left center;
}

input[type="checkbox"]:checked {
	/*Other Browser*/
	background: #cfcfcf;
	/*For Old WebKit*/
	background: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0.00, #fcfcfc),
		color-stop(1.00, #cfcfcf)
	);
	/*For Modern Browser*/
	background: linear-gradient(
		to bottom,
		#fcfcfc 0%,
		#cfcfcf 100%
	);
	border: 1px solid #999999;
}

/* accordion チェックボックス
***************************************/
.accordion input.innerCheck[type="checkbox"] {
	border: 1px solid #aaaaaa;
	vertical-align: -8px;
	-webkit-appearance: none;
	position: relative;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	width: 16px;
	height: 16px;
	/*Other Browser*/
	background: #cfcfcf;
	/*For Old WebKit*/
	background: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0.00, #fcfcfc),
		color-stop(1.00, #cfcfcf)
	);
	/*For Modern Browser*/
	background: linear-gradient(
		to bottom,
		#fcfcfc 0%,
		#cfcfcf 100%
	);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}


.accordion input.innerCheck[type="checkbox"]:checked:before {
	position: absolute;
	left: 0px;
	top: 10px;
	display: block;
	content: "";
	width: 6px;
	height: 3px;
	background: #ffffff;
	-webkit-transform: rotate(45deg);
	-webkit-transform-origin: right center;
}

.accordion input.innerCheck[type="checkbox"]:checked:after {
	display: block;
	position: absolute;
	left: 4px;
	top: 10px;
	content: "";
	width: 12px;
	height: 3px;
	background: #ffffff;
	-webkit-transform: rotate(-50deg);
	-webkit-transform-origin: left center;
}

.accordion input.innerCheck[type="checkbox"]:checked {
	/*Other Browser*/

	/*For Old WebKit*/
	background: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0.00, #cfcfcf),
		color-stop(1.00, #e2e2e2)
	);
	/*For Modern Browser*/
	background: linear-gradient(
		to bottom,
		#cfcfcf 0%,
		#e2e2e2 100%
	);
	border: 1px solid #999999;
}

.checkText{
	float: right;
	display: inline;
	margin: 0;
	font-weight: normal;
	margin-right: 40px;
	color: #f0f0f0;
	font-size: 1.4rem;
	padding-top: 2px;
	font-style: normal;
}
.checkText:after{
	content: '';
	clear: right;
}