/***************************************
j203c.css
2014/06/16
***************************************/
.next1 ul{
	width:100%;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-size: 1.6rem;
}
.next1 ul li{
	border-bottom: solid 1px #bbb;
}
.next1 ul li:first-child{
	border-top: solid 1px #bbb;
}
.next1 ul li label{
	padding:10px 0;
	width: 90%;
	display: block;
	padding-left: 2.1em;
	text-indent: -2.1em;
}
.next1 ul li input{
	margin: 0 10px;
}
.submit-btn{
	width:300px;
	margin: 10px auto;
}


/* 以下削除項目 */


/* SP用チェックボックス
***************************************/
input[type="checkbox"] {
	vertical-align: middle;
	margin-left: 8px;
	border: 1px solid #aaaaaa;
	-webkit-appearance: none;
	position: relative;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	/*Other Browser*/
	background: #cfcfcf;
	/*For Old WebKit*/
	background: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0.00, #fcfcfc),
		color-stop(1.00, #cfcfcf)
	);
	/*For Modern Browser*/
	background: linear-gradient(
		to bottom,
		#fcfcfc 0%,
		#cfcfcf 100%
	);
	-moz-transform: scale(1.2);
}


input[type="checkbox"]:checked:before {
	position: absolute;
	left: 0px;
	top: 10px;
	display: block;
	content: "";
	width: 6px;
	height: 3px;
	background: #333;
	-webkit-transform: rotate(45deg);
	-webkit-transform-origin: right center;
	transform: rotate(45deg);
	transform-origin: right center;
}

input[type="checkbox"]:checked:after {
	display: block;
	position: absolute;
	left: 4px;
	top: 10px;
	content: "";
	width: 12px;
	height: 3px;
	background: #333;
	-webkit-transform: rotate(-50deg);
	-webkit-transform-origin: left center;
	transform: rotate(-50deg);
	transform-origin: left center;
}

input[type="checkbox"]:checked {
	/*Other Browser*/
	background: #cfcfcf;
	/*For Old WebKit*/
	background: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0.00, #fcfcfc),
		color-stop(1.00, #cfcfcf)
	);
	/*For Modern Browser*/
	background: linear-gradient(
		to bottom,
		#fcfcfc 0%,
		#cfcfcf 100%
	);
	border: 1px solid #999999;
}
