/***************************************
j203pc.css
2014/06/10
***************************************/
.search-container{
	display: table;
	background: #dce6f1;
	width: 100%;
}
.search-form{
	display: table-cell;
	border-right: solid 20px #fff;
	width: 460px;
}
#searchBox{
	background: #fff;
	width: 300px;
	margin: 8% auto 3%;
	border: #ccc solid 1px;
	box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);/* 入力フォームインナーシャドウ */
		-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
		-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}
#searchBox input[type=search]{
	height: 35px;
	width: 292px;
	padding: 2px 4px;
	font-size: 18px;
	font-size: 1.8rem;
	border: 0;
	background: transparent;
}

.search-btn{
	width: 300px;
	margin: 0 auto;
}



.initial{
	display: table-cell;
	width: 460px;
}
.initial-inner{
	padding: 10px 0;
}
.initial-inner table{
	margin: 0 auto;
}
.initial-inner input{
	width: 30px;
	height: 30px;
	margin: 1px;
	margin: 0.1rem;
	padding: 0;
}
.search-title{
	padding-left: 30px;
	background-image: url(../../shared_lib/img/circle_icon.png);
	background-repeat: no-repeat;
	background-position: 10px 50%;
}
.container {
	min-height: calc(100vh - 375px);
}