/***************************************
j204pc.css
2014/06/12
***************************************/
.allcheck-btn{
	padding: 0;
	margin: 0;
}
.allcheck-btn p{
	line-height: 0;
	margin:0;
	padding:0;
}
.allcheck-btn input[type=button]{
/* 2015/09/07 CCCx¨ mod start */
	/*margin-right: 10px;*/
	margin-right: 0px;
/* 2015/09/07 CCCx¨ mod end */
}

#all-check01,#all-reset01,#sort-reset01{
	margin-bottom:5px;
}

table.mytable{
    width: 100%;
    border: solid #bbb 1px;
}
table.mytable strong{
    color: #333;
}
table.mytable a{
    color: #1e50a2;
}
table.mytable a:hover,table.mytable a:active{
    text-decoration: none;
}
table.mytable th.clickable:hover,table.mytable th.clickable:active{
    color: #1e50a2;
    background-color: #cce6fa;
    cursor: pointer
}
.selected{
    background: #e9e9e9;
}
table.mytable th{
    background: #eaf4fc;
    padding: 0;
}
table.mytable th a{
/*    padding: 15px 0;
    display: block;*/
}
table.mytable th a:hover,table.mytable th a:active{
    background-color: #cce6fa;
}
table.mytable th.mytable-link a{
    padding: 4px 0;
    display: block;
}
table.mytable th.name-title a{
    width: 100%;
    padding: 25px 0;
    display: block;
}
table.mytable th.overall a{
    padding-right: 7px;
    padding-left: 7px;
}
table.mytable td{
    padding: 5px;
    padding: 0.5rem;
}

table.mytable tr th,table.mytable tr td{
    border-bottom: solid #bbb 1px;
    border-right: solid #bbb 1px;
    text-align: center;
}
table.mytable .right-line{
    border-right: 0;
    text-align: right;
    padding-right: 8px;
    padding-right: 0.8rem;
}

table.mytable .list01{
	width: 32px;
}
table.mytable .list02{
    /*width: 65px;*/
/* 2015/09/07 CCCx¨ mod start */
    /*width: 65px;*/
    width: 85px;
/* 2015/09/07 CCCx¨ mod end */
    padding-top:4px;
    padding-bottom:5px;
}
table.mytable .list03{
    width: 65px;
    padding-top:4px;
    padding-bottom:5px;
}
table.mytable .list04{
    width: 93px;
    padding-top:4px;
    padding-bottom:5px;
}
table.mytable .list05{
    width: 65px;
    padding-top:4px;
    padding-bottom:5px;
}
table.mytable .mytable-title{

    text-align: left;
    padding: 0;
}
table.mytable .mytable-title a{
    display: block;
    padding: 5px;
    padding: 0.5rem;
}

table.jquery-tablehover td.hover {
    background-color: #cce6fa;
}

#more{
    text-align: center;
    padding: 10px 0;
    background-color: #7b95d8;
}
#more a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    font-size: 1.8rem;
    display: block;
    letter-spacing: 1px;
	letter-spacing: 0.1rem;
}

table.mytable th.mytable-link1{
/*    padding: 4px 2.5px;
    display: block;*/
    width:49px;
}
table.mytable th.link01{
    background: #cce6fa;
    padding: 0;
}

table.mytable th.mytable-link2{
/*    padding: 15px 7px;
    display: block;*/
    width:50px;
}

.text-inner204 {
	padding: 20px 10px;
}

.info {
	padding: 0;
}
/*.link-width{
	width:50px;
}*/

/* footerΕθp */
html, body{
	margin: 0;	/* ]Μν */
	padding: 0;	/* ]Μν */
	height: 100%;	/* cΜ³π100% */
	width: 100%;	/* ‘Μπ100% */
}

/* ΘΊνΪ */

/* PCp`FbN{bNX
***************************************/
input[type="checkbox"] {
	border: 1px solid #aaaaaa;
	-webkit-appearance: none;
	position: relative;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 13px;
	height: 13px;
	/*Other Browser*/
	background: #cfcfcf;
	/*For Old WebKit*/
	background: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0.00, #fcfcfc),
		color-stop(1.00, #cfcfcf)
	);
	/*For Modern Browser*/
	background: linear-gradient(
		to bottom,
		#fcfcfc 0%,
		#cfcfcf 100%
	);
}


input[type="checkbox"]:checked:before {
	position: absolute;
	left: 1px;
	top: 7px;
	display: block;
	content: "";
	width: 4px;
	height: 2px;
	background: #333;
	-webkit-transform: rotate(45deg);
	-webkit-transform-origin: right center;
	transform: rotate(45deg);
	transform-origin: right center;
}

input[type="checkbox"]:checked:after {
	display: block;
	position: absolute;
	left: 4px;
	top: 7px;
	content: "";
	width: 8px;
	height: 2px;
	background: #333;
	-webkit-transform: rotate(-50deg);
	-webkit-transform-origin: left center;
	transform: rotate(-50deg);
	transform-origin: left center;
}

input[type="checkbox"]:checked {
	/*Other Browser*/
	background: #cfcfcf;
	/*For Old WebKit*/
	background: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0.00, #fcfcfc),
		color-stop(1.00, #cfcfcf)
	);
	/*For Modern Browser*/
	background: linear-gradient(
		to bottom,
		#fcfcfc 0%,
		#cfcfcf 100%
	);
	border: 1px solid #999999;
}
.container {
	min-height: calc(100vh - 380px);
}
