/***************************************
j205pc.css
2014/06/16
***************************************/
hr{
	border: 0;
	height: 1px;
	background: #ababab;
	margin-top: 0;
}
.br{
	display: none;
}
.point{
	font-weight: bold;
	font-size: 15px;
	font-size: 1.5rem;
	color:#5679d9;
	background: url(../img/pencil2.png) left center no-repeat;
	padding: 3px 0 1px 20px;
}
.text-19{
	font-size: 19px;
	font-size: 1.9rem;
}
.text-16{
	font-size: 16px;
	font-size: 1.6rem;
}

table{
	width: 100%;
	/* border-collapse: separate; */
	border: solid 1px #7b95d8;
	font-size: 14px;
	font-size: 1.4rem;
}
table thead{
	background: #7b95d8;
	color: #fff;
	text-align: center;
}
table tbody{
	text-align: center;
}

th,td{
	vertical-align: middle;
	padding:2px 0;
/* 2015/09/07 CCC堀畑 add start */
	/* border-bottom: solid 1px #fff; */
/* 2015/09/07 CCC堀畑 add end */
}
th,td.full01{
	vertical-align: middle;
	padding:2px 0;
	border-bottom: solid 1px #7b95d8;
}
th:first-child,td:first-child{
	border-left: 0;
	/* 2015/09/10 CCC堀畑 add start*/
	font-weight: bold;
	/* 2015/09/10 CCC堀畑 add end */
}
th{
	/*width: 14%;*/
	border-left: solid 1px #fff;
}
td{
	border-left: solid 1px #7b95d8;

}
th.full{
	border-left: solid 1px #fff;
/* 2015/09/07 CCC堀畑 add start */
	border-bottom: solid 1px #fff;
/* 2015/09/07 CCC堀畑 add start */
}
td.full{
	border-left: double 4px #7b95d8;
}
/* 2015/09/07 CCC堀畑　add start */
td.full2{
	border-left: solid 1px #7b95d8;
	border-bottom: solid 1px #7b95d8;
}
td.full3{
	border-left: solid 1px #7b95d8;
}
/* 2015/09/07 CCC堀畑 add end */

/* リンクボタン */
.link-btn{
	margin: 0;
	padding: 0;
}
.link-btn p{
	line-height: 0;
	margin: 0;
	padding: 0;
}
.link-btn input[type=button]{
	margin-left: 10px;
}
#j205-btn01,#j205-btn02,#j205-btn02sp,#j205-btn02-sp{
	margin-bottom: 5px;
}
.link-btn input[type=button]:first-child{
	margin-left: 640px;
}

/* 2カラム配置 */
.section-container{
	display: flex;
	flex-flow: row wrap;
	overflow: hidden;
	margin-bottom: 15px;
}
#section01{
	float: left;
	position: relative;
}
#notCovered{
	position: absolute;
		top: 0;
		left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#77000000,EndColorStr=#77000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#77000000,EndColorStr=#77000000)";
}
#notCovered:not(:target){
	filter: none;
	-ms-filter: none;
}
#notCovered p{
	color: #fff;
	font-size: 60px;
	font-size: 6rem;
	text-align:center;
	letter-spacing: 0.8rem;
	padding-top: 25%;
}
#section01{
	margin-right: 1.55%;
	order: 1
}
#section02{
	order: 2
}
#section04{
	order: 3
}
#section01,#section02{
	width: 49%;
}
#section01,#section02,#section03,#section04{
	border: solid 1px #80a8d1;
}
#section03{
	margin-top: 15px;
}
.section-container:after{
	content: '';
	clear: both;
	display: block;
}
.section-title{
	color: #fff;
	background: #80a8d1;
	font-size: 18px;
	font-size: 1.8rem;
	padding: 8px 10px;
	display: block;
}

/* ランクパネル */
.section-inner{
	display: inline-table;
	height: 100px;
}
.panel{
	display: table-cell;
	width:100px;
	height: 100px;
	color: #fff;
	margin: 0;
	padding: 0;
}
div.eng {
	display: table-cell;
	width:100px;
	height: 100px;
	margin: 0;
	padding: 0;
}

.myscore{
	padding-left: 15px;
}
.panel,.panel-eng,.myscore{
	display:table-cell;
	vertical-align: middle;
}

 /* ランク(センター得点／2次・個別偏差値) */
.rank-marks,.deviation-marks{/* ランク：点数表示 */
    min-height: 15px;
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding: 0 3em;

}
.rank-marks li,.deviation-marks li{
	float: left;
	text-align: center;
	width: 25%;
	font-size: 12px;
	font-size: 1.2rem;
}
.rank-meter,.deviation-meter{/* ランク：アルファベット表示 */
	list-style: none;
	width: 100%;
	display: table;
	margin: 0;
	padding: 0;
}
.rank-meter li,.deviation-meter li{
	text-align: center;
	margin: 0;
	padding: 0;
	display: table-cell;
	border-left: solid 2px #fff;
	width:20%;
	color: #fff;
	font-weight: bold;
}
.rank-meter li:first-child,.deviation-meter li:first-child{
	border:left: 0;
}
.rank-meter-a,.deviation-meter-a{/* A */
	background: #ea5959;
}
.rank-meter-b,.deviation-meter-b{/* B */
	background: #f49e00;
}
.rank-meter-c,.deviation-meter-c{/* C */
	background: #86b755;
}
.rank-meter-d,.deviation-meter-d{/* D */
	background: #00ac71;
}
.rank-meter-e,.deviation-meter-e{/* E */
	background: #579dd6;
}
.myrank,.mydeviation{/* ランク：自分の評価 */
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.myrank li,.mydeviation li{/* ランク：★マーク設定 */
	text-align: center;
	width: 20%;
	float: left;
	padding: 10px 0;
	margin: 0;
	font-size: 25px;
	font-size: 2.5rem;
	visibility: hidden;
	line-height: 25px;
	line-height: 2.5rem;
}
.myrank li#myRankCurrent,.mydeviation li#myDeviationCurrent{/* ランク：★表示設定 */
	color: #ffd700;
	visibility: visible;
}

.clear{
	clear: both;
	}

.total-indent01{
	padding-left: 57px;
}
.total-indent02{
	padding-left: 11px;
}

.total-indent03{
	padding-left: 19px;
}
.notes{
	font-size: 11px;
	font-size: 1.1rem;
}
.notes .small{
	font-size: 10px;
	font-size: 1rem;
	margin-left: 10px;
	display: table;
}
.notes .kome,.notes .indent{
	display: table-cell;
}
.non-display{
	visibility: hidden;
}

.engpt-exam-info {
	float: right;
}

