@charset "Shift-JIS";
/***************************************
j205sp.css
2014/06/16
***************************************/
.br{
	display: inline;
}
/* 2015/09/07 CCCx¨ del start */
/*.link-btn{
	overflow: hidden;
}
.link-btn input[type=button]{
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
}
.link-btn:after{
	content: '';
	clear: right;*/
}
/* 2015/09/07 CCCx¨ del end */

/* 2015/09/07 CCCx¨ add start */
/* N{^ */
.link-btn01{
	overflow: hidden;
	aligin: right;
	margin: 0;
	padding: 0;
}
.link-btn01 p{
	line-height: 0;
	margin: 0;
	padding: 0;
}
.link-btn01 input[type=button]{

}
#j205-btn01-sp{
	margin-bottom: 5px;
	margin-right: 0px;
}
#j205-btn02-sp{
	margin-bottom: 5px;
	margin-right: 0px;
}
.link-btn01 input[type=button]:first-child{

}
/* 2015/09/07 CCCx¨ del end */
.section-container{
	margin-bottom: 0;
}
.section-inner{
	overflow: visible;
	padding: 0;
}
#section01{
	margin-right: 0;
	order: 1
}

#section01,#section02{
	float: none;
	width: 100%;
	border: 0;
	padding-bottom: 20px;
}
#section03{
	border: 0;
}

.rank-marks,.deviation-marks{padding: 0 3.6em;}/* NF_\¦ */

.total-indent01{
	padding-left: 10px;
}

.total-indent02{
	padding-left: 1.2em;
	padding-right: 1em;
}
.total-indent03{
	padding-left: 1.2em;
}

.footer{
	margin-bottom: 10px;
}
.notes{
	font-size: 1.3rem;
}
.notes .small{
	font-size: 1.2rem;
}
.g-nav-sp {
	display: none;
}

/* NF_\¦ */
@media screen and (max-width: 540px) {.rank-marks,.deviation-marks{padding: 0 2.3em;}}
@media screen and (max-width: 320px) {.rank-marks,.deviation-marks{padding: 0 1.8em;}}

div.eng {
	display: block;
	width:100px;
	height: 100px;
	margin: 0;
	padding: 0;
}

.section-inner{
	width: 100%;
}

.engpt-exam-info {
	display: block;
	float: none;
}
footer {
	display: table;
	width: 100%;
	height: 110px;
}