@charset "Shift-JIS";
/***************************************
j206sp.css
2014/06/17
***************************************/
.section{
	border: none;
}

.footer{
	margin-bottom: 10px;
}

.notes{
	font-size: 1.3rem;
}
footer {
	display: table;
	width: 100%;
	height: 110px;
}