/***************************************
jonjudge.css
2014/08/05
***************************************/
.pagetop { display: none; }
footer {
	height: 90px;
}
.container {
	min-height: calc(100vh - 262px);
}
@media screen and (max-width:640px){
	footer {
		height: 70px;
	}
	.container {
		min-height: calc(100vh - 182px);
	}
}