/***************************************
jonjudge.css
2014/08/05
***************************************/
.g-nav, .g-nav-sp, .pagetop { display: none; }
footer {
	height: 110px;
}
.container {
	min-height: calc(100vh - 262px);
}