body,tr,td { font-size:14px; line-height:150%; color:#333333; }
a:link { text-decoration:underline; color:#444444; }
a:visited { text-decoration:underline; color:#444444; }
a:active { text-decoration:none; }
ul { margin-bottom:0px; }
.text12 { font-size:12px; }
